#toolbarButtons {
    position:absolute;
    width:360px;
    height:45px;
    right:30px;
    top:100px;
    background:white;
    border-radius:20px;
}
#yourEventButton {
    width:120px;
    height:50px;
    position:absolute;
    left:20px;
    top:-5px;
}
#yourBookingButton {
    width:120px;
    height:50px;
    position:absolute;
    left:130px;
    top:-5px;
}
#profileButton {
    width:120px;
    height:50px;
    position:absolute;
    left: 270px;
    top:-5px;
}
/*Header
#header {
    position: relative;
    left: 20px;
}*/

@font-face {
    font-family: PermanentMarker;
    src: url("https://fonts.googleapis.com/css?family=Permanent+Marker") format("format");
}

.logo img {
    float: left;
    margin-left: 2em;
    margin-top: 1em;
    width: 100px;
    height: 100px;

}

.logo h1 {
    position: relative;
    top: 20px;
    left: 30px;
    font-family: PermanentMarker, cursive;
    font-size: 45px;
    color: black;
    opacity: 1.0;
}

.logo p {
    position: relative;
    left: 40px;
    font-family: Arial, sans-serif;
    color: black;
}


div.transbox{
    height: 125px;
    border-radius: 15px;
    margin: 10px;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.joinmatch {
    font-family:Arial;
    text-align: center;
    padding-top: 50px;
}

.joinmatch h1 {
    font-size:70px;
    color: white;
    word-spacing: 5px;

}
.joinmatch h2{
    font-size:30px;
    color: white;
}

body{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url("https://s-i.huffpost.com/gen/1211595/images/o-SOCCER-facebook.jpg");

}

.welcome {
    font-family:Arial;
    text-align: center;
    padding-top: 50px;
}
.welcome h1{
    font-size:70px;
    color: white;
    word-spacing: 5px;
}

.welcome h2 {
    font-size:20px;
    color: white;
}



.welcome button{
    color: white;
    background: red;
    font-size: 18px;
    padding: 10px;
    margin:20px auto; display:block;
}


.welcome input[type=text] {
    border-radius: 3px;
    width: 20%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

/*.search {
    text-align: center;
}*/

.searchbar{
    text-align: center;
    width: 70%;
    left: 15%;
    top: 90px;
    position: absolute;
}
.searchbar input[type=text]{
    border-radius: 3px;
    width: 20%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;

}
.searchbar button {
    color: white;
    background: grey;
    font-size: 14px;
    padding: 7px;
}

.user p{
    float: right;
    font-family: Arial;
    color: black;
    right: 50px;
    top: 50px;
    position: absolute;
}

.signup {
    color:white;
    text-align: center;
    font-family: Arial;
}

.signup h1 {
    font-size:50px;
    color: white;
    word-spacing: 5px;
}

.signup input[type=text] {
    border-radius: 3px;
    width: 20%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.signup h2 {
    font-size: 20px;
}

.signup input[type=submit]{
    color: white;
    background: red;
    font-size: 18px;
    padding: 10px;
    margin:20px auto; display:block;
}

#category {
    color: white;
    float: left;
}

.event{
    position: relative;
	left:20px;
	background: grey;
	width:300px;
	height:500px;
	border-radius:20px;
	float: left;
	margin: 5px;
	padding:10px;
}

.event_Properties p {
    color:white;

}

#participants{
    color: white;
    margin-top: 20%;
    text-align: center;
}
 .createevent {
     color: white;
     text-align: center;
 }

.yourevents {
    float: right;
    color: white;
    position:absolute;
    width:500px;
    height:45px;
    right:23px;
    top:150px;
}

#yevent {
    width:120px;
    height:50px;
    position:absolute;
    left:20px;
    top:-5px;
}
#createevent {
    width:120px;
    height:50px;
    position:absolute;
    left:130px;
    top:-5px;
}
#eventhis {
    width:120px;
    height:50px;
    position:absolute;
    left: 270px;
    top:-5px;
}
#cbookings {
    width:120px;
    height:50px;
    position:absolute;
    left:20px;
    top:-5px;
}
#createevent {
    width:120px;
    height:50px;
    position:absolute;
    left:130px;
    top:-5px;
}
#input h2 {
    color: white;
}

.error {
    color: red;
}
h1,h2,h3,h4,h5,h6,p {
	color:white;
}
a>h5 {
	color:grey;
}
div>div>a>h5:hover {
	color:blue;
}